/* Body style*/
body {
    font-family: 'Open Sans',sans-serif;
    text-align: left;
    color: white;
    font-size: 18px;
    padding: 12px;
    background: rgb(2,0,36);
    background: -moz-linear-gradient(45deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 41%, rgba(0,212,255,1) 100%);
    background: -webkit-linear-gradient(45deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 41%, rgba(0,212,255,1) 100%);
    background: linear-gradient(45deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 41%, rgba(0,212,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#020024",endColorstr="#00d4ff",GradientType=1);
}

a {
    font-size: 18px;
}

/* Introduction */
#intro {
    width: auto;
    height: auto;
    background: rgb(0,0,0);
    background: -moz-linear-gradient(45deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 49%, rgba(0,0,0,0) 100%);
    background: -webkit-linear-gradient(45deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 49%, rgba(0,0,0,0) 100%);
    background: linear-gradient(45deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 49%, rgba(0,0,0,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#000000",GradientType=1);
    font-style: italic;
    font-size: 16px;
    border-left-style: solid;
    border-left-width: 10px;
    padding: 20px;
}

#socials {
    width: auto;
    height: auto;
    background: rgb(0,0,0);
    background: -moz-linear-gradient(45deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 49%, rgba(0,0,0,0) 100%);
    background: -webkit-linear-gradient(45deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 49%, rgba(0,0,0,0) 100%);
    background: linear-gradient(45deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 49%, rgba(0,0,0,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#000000",GradientType=1);
    font-style: italic;
    text-align: left;
    font-size: 16px;
    border-left-style: solid;
    border-left-width: 10px;
    padding: 20px;
}